.menuItem {
    padding: 3rem 0;
    background: var(--blanco);
    outline: var(--outline);
    outline-offset: -1rem;
    text-align: center;
    box-shadow: var(--box-shadow);
    transition: .2s linear;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

img {
    margin: 1rem 0;
    width: 25rem;
    height: 18rem;
}

h3 {
    font-family: var(--font-title);
    font-size: 2rem;
}

.menuItem-container {
    margin: 2rem auto;
}

.menu {
    text-align: center;
}

.menu .btnplus {
    margin-top: 3rem;
    width: 15%;
}